*{
    margin: 0;
    padding: 0;
}
.container {
    background-color: lightblue;
    position: absolute;
    width: 1291px;
    height: 100%;
    overflow: hidden;
    margin-left: 75px;
}
.parent {
    position: relative;
    width: 100px;
    height: 100px;
}
.character {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
}
.img {
    width: 100px;
    height: 100px;
}
.catch {
    margin-left: -20px;
    width: 120px;
    height: 20px;
}
.tombol {
    position: absolute;
    right: 0%;
    bottom: 0%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px;
}
.tombol:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.2);
    border: 2px solid red;
}
.bags {
    background-color: azure;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 0px 0px;
    border: 2px solid black;
    border-radius: 15px;
    z-index: 10;
    padding: 50px;
}
.exit {
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 5px;
    border: 3px solid black;
    cursor: pointer;
}
.exit:hover {
    background-color: red;
    color: white;
    transition: 0.2s;
}
.yourpokemon {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.gambarcatch {
    width: 100%-75px;
    height: 100%;
    overflow: auto;
}
.pokecatch {
    width: 160px;
}
.layer1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
}