body {
  font-family: "Kalam", cursive;
  background-color: #2B4570;
}
h1 {
  text-align: center;
  font-family: "Pokemon Solid", sans-serif;
  color: #F3E37C;
  width: 100%;
  background: #2B4570;
  padding: auto;
}
.swiper {
  height: 220px;
  margin-top: 5px;
  position: absolute;
  margin-bottom: 40px;
}
.swiper-slide {
  border-radius: 15px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  height: 200px;
}
.feature {
  background: rgba(255, 255, 255, 0.8);
  width: 190px;
  color: black;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
video {
  height: 200px;
  width: 350px;
  padding: 5px;
}
.filmcont {
  display: flex;
  text-align: center;
  padding-left: 10%;
  color: white;
}
.pokecont {
  margin-top: 20px;
  display: flex;
}
.explore {
  margin-left: 800px;
  background-color: #ccc;
  border-radius: 20px;
  margin-top: 20px;
  height: 30px;
  color: black;
  font-family: "Kalam", cursive;
}
#logo {
  width: 23px;
  height: 25px;
  position: relative;
}
.isian {
  margin-left: 75px;
}