body {
  font-family: "Kalam", cursive;
}
.about {
  font-family: "Pokemon Solid", sans-serif;
}
.misi {
  width: auto;
  text-align: justify;
  font-size: 30px;
  margin: auto;
  color: white;
  background: #ccc;
  padding: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 60px;
}
.team {
  width: auto;
  text-align: justify;
  font-size: 15px;
  margin: auto;
  color: white;
  background: #ccc;
  padding: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 60px;
  height: 200px;
}
.about {
  font-size: 50px;
  text-align: center;
}
#our {
  font-size: 40px;
}
img {
  position: absolute;
  left: 57%;
  margin-top: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
