* {
    margin: 0;
    padding:0;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute;        
}
.background {
    width: 100%;
    height: 100%;
    background-image: url("Assets/Guess.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.shadow {
    position: absolute;
    top: 250px;
    left: 350px;
    filter:brightness(0);
}
.multiplechoices {
    width: 100%-100px;
    height: 25%;
    background-color: #3d57ab;
    border-top: 5px solid #ffca06;
    padding-left: 50px;
    padding-right: 50px;
}
.box {
    width: 900px;
    height: 100px;
    border: 1px solid black;
    background-color:#ffca06;
    box-shadow: 5px 5px 0px 0px;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
}
.hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    box-shadow: 0px 0px 0px 0px;
}
.shadow:hover {
    transform: scale(1.20);
    transition: 0.3s;
}