* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: pokemon;
    src: url("Font/Pokemon/Ketchum.otf");
}
.menu {
    position: fixed;
    height: 100%;
    width: 75px;
    background-color: #d9c5ac;
}
.menuopen {
    position: fixed;
    left: -14%;
    height: 100%;
    width: 300px;
    background-color: #8d8270;
}
.nav-menu {
    float: left;
    width: 100%;
    height: 100%;
}
.button {
    float: left;
    position: absolute;
    width: 75px;
    height: 75px;
    right: 0%;
    top: 0%;
    border: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-image: url("Assets/Menu/ClickButton.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #d9c5ac;
}
.button:hover {
    transition: 1;
    opacity: 0.2;
}
.isimenu {
    float: left;
    color: black;
    font-size: 2.2em;
    margin-top: 0px;
    width: 300px;
    display: none;
}
.judul {
    color: black;
    font-size: 2.0em;
    text-align: center;
    display: none;
    background-color: #d9c5ac;
    line-height: 70px;
    height: 75px;
    font-family: pokemon;
}
.menus {
    line-height: 90px;
    height: 85px;
    margin-top: 5px;
    text-align: center;
}
.menus2 {
    line-height: 90px;
    height: 85px;
    margin-top: 5px;
    text-align: center;
}
.menus2:hover {
    transition: 0.7s;
    background-color: black;
    color: white;
}
.menus:hover{
    transition: 0.7s;
    background-color: black;
    color: white;
}
.content-dropdown {
    display: none;
    position: relative;
    background-color: #8d8270;
    top: -85px;
    left: 300px;
}
.dropdown:hover .content-dropdown {
    display: block;
}
.logohome {
    position: absolute;
    width: 100px;
    height: 100px;
}
.logogames {
    position: absolute;
    left: 2px;
    top: 180px;
    width: 100px;
    height: 70px;
}